<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
  <link rel="stylesheet" href="/assets/material-components-web.min.css">
  <script src="/assets/material-components-web.min.js"></script>
  <link href="/assets/fonts.css" rel="stylesheet">
  <link href="/assets/material-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css">
  <title>Consent self-service</title>
</head>

<body>
<div class="header"></div>
<div class="content">

  TODO
  
</body>
</html>
