version: "3.0"

networks:
  system:
    driver: bridge

services:
  tpp:
    build:
      context: .
      dockerfile: tpp/Dockerfile
    container_name: tpp
    networks:
      - system
    ports:
      - "8090:8090"
    volumes:
      - ./data/ca.pem:/ca.pem
      - ./data/tpp_cert.pem:/tpp_cert.pem
      - ./data/tpp_key.pem:/tpp_key.pem
    environment:
      - CLIENT_ID=bugkgm23g9kregtu051g
      - AUTHORIZE_URL=https://localhost:8443/default/openbanking/oauth2/authorize
      - TOKEN_URL=https://acp:8443/default/openbanking/oauth2/token
      - USERINFO_URL=https://acp:8443/default/openbanking/userinfo
      - REDIRECT_URL=https://localhost:8090/callback
      - CERT_FILE=/tpp_cert.pem
      - KEY_FILE=/tpp_key.pem
      - ROOT_CA=/ca.pem
      - BANK_URL=http://bank:8070

  consent-page:
    build:
      context: .
      dockerfile: consent-page/Dockerfile
    container_name: consent-page
    networks:
      - system
    ports:
      - "8080:8080"
    volumes:
      - ./data/ca.pem:/ca.pem
      - ./data/bank_cert.pem:/bank_cert.pem
      - ./data/bank_key.pem:/bank_key.pem
    environment:
      - CLIENT_ID=bv0ocudfotn6edhsiu7g
      - CLIENT_SECRET=pMPBmv62z3Jt1S4sWl2qRhOhEGPVZ9EcujGL7Xy0-E0
      - TOKEN_URL=https://acp:8443/default/system/oauth2/token
      - CERT_FILE=/bank_cert.pem
      - KEY_FILE=/bank_key.pem
      - ROOT_CA=/ca.pem
      - BANK_URL=http://bank:8070

  consent-self-service:
    build:
      context: .
      dockerfile: consent-self-service/Dockerfile
    container_name: consent-self-service
    networks:
      - system
    ports:
      - "8085:8085"
    volumes:
      - ./data/ca.pem:/ca.pem
      - ./data/bank_cert.pem:/bank_cert.pem
      - ./data/bank_key.pem:/bank_key.pem
    environment:
      - CLIENT_ID=buc3b1hhuc714r78env0
      - CLIENT_SECRET=PBV7q0akoP603rZbU0EFdxbhZ-djxF7FIVwyKaLnBYU
      - TOKEN_URL=https://acp:8443/default/system/oauth2/token
      - CERT_FILE=/bank_cert.pem
      - KEY_FILE=/bank_key.pem
      - ROOT_CA=/ca.pem
      - BANK_URL=http://bank:8070
      - LOGIN_AUTHORIZATION_SERVER_URL=https://localhost:8443
      - LOGIN_AUTHORIZATION_SERVER_ID=bank-customers
      - LOGIN_TENANT_ID=default
      - LOGIN_CLIENT_ID=bv0nab0mekk67nekvq7g
      - INTROSPECT_CLIENT_ID=bv2dkff8mll9cf6pvd6g
      - INTROSPECT_CLIENT_SECRET=KThGH68f-gMC4cscGLFeOpIU4EYriYhKspOV9IwHbnw
      - INTROSPECT_TOKEN_URL=https://acp:8443/default/bank-customers/oauth2/token

  consent-admin:
    build:
      context: .
      dockerfile: consent-admin/Dockerfile
    container_name: consent-admin
    networks:
      - system
    ports:
      - "8086:8086"
    volumes:
      - ./data/ca.pem:/ca.pem
      - ./data/bank_cert.pem:/bank_cert.pem
      - ./data/bank_key.pem:/bank_key.pem
    environment:
      - SYSTEM_CLIENT_ID=bv2fe0tpfc67lmeti340
      - SYSTEM_CLIENT_SECRET=v6yYaApda9juR_DrlI5mpdsdm9u2-D0rQIG9ynakyDE
      - SYSTEM_TOKEN_URL=https://acp:8443/default/system/oauth2/token
      - SYSTEM_CLIENTS_SERVER_ID=openbanking
      - CERT_FILE=/bank_cert.pem
      - KEY_FILE=/bank_key.pem
      - ROOT_CA=/ca.pem
      - BANK_URL=http://bank:8070
      - LOGIN_AUTHORIZATION_SERVER_URL=https://localhost:8443
      - LOGIN_AUTHORIZATION_SERVER_ID=bank-admins
      - LOGIN_TENANT_ID=default
      - LOGIN_CLIENT_ID=bv2f80aed9c9is80f2d0
      - INTROSPECT_CLIENT_ID=bv2fddlpfc67lmeti32g
      - INTROSPECT_CLIENT_SECRET=RkAIOVRlP6ZLhDvYixT1wBb8DG3bVkXAouoIrX7cwzA
      - INTROSPECT_TOKEN_URL=https://acp:8443/default/bank-admins/oauth2/token
      
  bank:
    build:
      context: .
      dockerfile: bank/Dockerfile
    container_name: bank
    networks:
      - system
    ports:
      - "8070:8070"
    volumes:
      - ./data/ca.pem:/ca.pem
      - ./data/bank_cert.pem:/bank_cert.pem
      - ./data/bank_key.pem:/bank_key.pem
    environment:
      - CLIENT_ID=bukj5p6k7qdmm5ppbi4g
      - TOKEN_URL=https://acp:8443/default/openbanking/oauth2/token
      - CERT_FILE=/bank_cert.pem
      - KEY_FILE=/bank_key.pem
      - ROOT_CA=/ca.pem

  acp:
    container_name: acp
    image: docker-public.artifactory.cloudentity.com/authorization:37c411d
    networks:
      system:
    ports:
     - 8443:8443
    restart: on-failure
    volumes:
      - ./data/seed.yaml:/seed.yaml
      - ./data/acp_cert.pem:/acp_cert.pem
      - ./data/acp_key.pem:/acp_key.pem
    environment:
      - FEATURES_SWAGGERUI=true
    command:
     - server
     - start
     - --sql.url
     - postgres://root@crdb:26257/defaultdb?sslmode=disable
     - --hazelcast.address
     - hazelcast:5701
     - --secret.key
     - KNEcLGdDqpwrXDubqPgDSUkMMsLPXaHh
     - --server.cert.path
     - /acp_cert.pem
     - --server.key.path
     - /acp_key.pem
     - --demo

  crdb:
    container_name: crdb
    image: cockroachdb/cockroach:v20.1.7
    #restart: on-failure
    networks:
     - system
    ports:
     - 26257:26257
     - 8081:8080
    command: start-single-node --insecure

  hazelcast:
    container_name: hazelcast
    image: hazelcast/hazelcast:3.12
    networks:
      - system
    ports:
      - 5701:5701
