<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
  <title>TPP sample app</title>
</head>

<body>
  <h1>Intent registered</h1>

  <p>IntentID: {{ .intent_id }}</p>
  <a href="{{ .login_url }}">Login</a>
</body>
</html>
