<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
  <title>TPP sample app</title>
</head>

<body>
  <h1>TPP sample app</h1>

  <form action="/login" method="post">
    Select permissions:

    ReadAccountsBasic <input type="checkbox" name="permissions" value="ReadAccountsBasic" checked/>
    ReadAccountsDetail <input type="checkbox" name="permissions" value="ReadAccountsDetail">

    <input type="submit" name="action" value="Register">
  </form>
</body>
</html>
