<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
  <title>TPP sample app</title>
</head>

<body>
  <h1>TPP sample app</h1>

  <p>TPP in order to authenticate user first needs to make a client credentials call to register a new account access consent.
    <a href="https://localhost:8443/api/swagger/default/default/#/openbanking/createAccountAccessConsentRequest" target="_blank">(see swagger)</a>
  </p>
  <p>Select permissions that your TPP would like to request: </p>

  <form action="/login" method="post">

    ReadAccountsBasic <input type="checkbox" name="permissions" value="ReadAccountsBasic" checked/><br />
    ReadAccountsDetail <input type="checkbox" name="permissions" value="ReadAccountsDetail"><br />

    <input type="submit" name="action" value="Next">
  </form>
</body>
</html>
