{
  "authorizationServerURL": "$OAUTH_CLIENT_AUTHORIZATION_SERVER",
  "clientId": "$OAUTH_CLIENT_ID",
  "redirectUri": "$OAUTH_CLIENT_REDIRECT_URI",
  "makeTransferApiUrl": "$MAKE_TRANSFER_API_URL"
}
